<!DOCTYPE HTML >
<html>
<head>
    <title>The Network</title>
    <link rel="stylesheet" type="text/css" href="static/css/normalize.css" />
    <link rel="stylesheet" type="text/css" href="static/css/styles.css" />
</head>
<body>
    <div id="header">
        <div id="logo"><img src="static/img/logo.png" alt="the network"/></div>  
        <div id="search">
            <form method="get" action="#">
                <input type="text" name="post" placeholder="thoughts?"/>
                <button>Post</button>
            </form>
        </div>
        <div id="search">
        </div>
        <br>
    </div>
    <div id="page">
        {% block content %}{% endblock %}
    </div>
</body>
</html>
